<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
               http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <aop:aspectj-autoproxy/>


    <context:component-scan base-package="com.weeking.share"/>

    <aop:config>
        <aop:pointcut
                expression="execution(public * com.weeking.share.service.aop02.service.LoginService.*(..)) and @annotation(com.weeking.share.service.aop02.annotion.Operate)"
                id="operatePoint"/>
        <aop:aspect id="adviceRespect" ref="noticePlatform" order="1">
            <aop:before pointcut-ref="operatePoint" method="doAfter"/>
        </aop:aspect>

    </aop:config>

    <bean id="noticePlatform" class="com.weeking.share.service.aop02.OperateProxy"></bean>
    
    
</beans>